.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  min-height: 100vh;
}

.appHeader {
  color: white;
  font-size: calc(10px + 7vmin);
  margin: 5rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 1rem;
}

button {
  background-color: #3282B8;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem 0 1rem 0;
  width: 100%;
  color: white;
  border: none;
}

