.form {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .activitiesContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .activity {
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 5px;
    cursor: pointer;
  }
  
  .activity.selected {
    background-color: white;
    color: #282c34;
  }
  
  label {
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 1rem;
  }
  
  input {
    padding: 0.5rem 1rem 0.5rem 1rem;
    width: 80%;
  }
  
  button {
    background-color: #3282B8;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem 0 1rem 0;
    width: 100%;
    color: white;
    border: none;
  }